.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
}

.emoji:hover {
  background-color: #f0f2f5;
  cursor: pointer;
}

.emoji__content {
  user-select: none;
}
